
.CartContainer{
    background-color: rgba(0, 0, 0, 0.411);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
}

.Cart{
    background-color: rgb(247, 247, 247);
    color: rgb(56, 56, 56);
    min-height: 400px;
    max-width: 500px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 3px;
}
.Titulo{
    text-align: center;
}
.ProductBill{
    background-color: rgb(255, 255, 255);
    width: 100%;
    min-height: 250px;
}
.Total{
    margin:20px;
}
.Botonera{
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    margin-bottom: 5px;
    font-size: 16px;
}
.ButtonVacia{
    outline: none;
    border: none;
    background-color: var(--color2);
    display: flex;
    width: 80px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    
}
.ButtonVacia:active{
    background-color: var(--color2Dark);
}
.ButtonCom{
    outline: none;
    border: none;
    color: rgb(56, 56, 56);
    background-color: var(--color3Light);
    display: flex;
    width: 110px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    
}
.ButtonCom:active{
    background-color: var(--color3);
}
.ButtonVolver{
    outline: none;
    border: none;
    background-color: var(--color1);
    display: flex;
    width: 80px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    
}
.ButtonVolver:active{
    background-color: var(--color1Dark);
}

@media only screen and (min-width: 500px) {
    .ButtonCom{
        width: 200px;
    }
    .ButtonVacia{
        width: 100px;
    }
    .ButtonVolver{
        width: 100px;
    }
}