.Header{
    background-image: linear-gradient(45deg, var(--color1), var(--color1Light));
    box-shadow: 0 0 10px rgb(192, 192, 192);
    height: 70px;
    width: 100%;
    position:fixed;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 10;
}
.Title{
    margin:0;
    margin-left: 10px;
    font-size: 25px;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    left: 5px;
}

.MainHeaderContainer{
    width: 100%;
}
.MainHeader{
    background-color: var(--color1);
    height: 60px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: 200;
}
.Wave{
    filter: drop-shadow(0 -4px 10px var(--color1));
}
.MainHeaderTitle{
    position: absolute;
    margin:0;
    margin-left: 10px;
    font-size: 30px;
    color: rgb(247, 247, 247);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 500;
}
.LogoContainer{
    margin-left: 10px;
    width: 50px;
    height: 50px;
}
.MainLogoContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    top: 80px;
}
.MainLogoSubContainer{
    width: 100px;
    height: 100px;
}
.ShareButtonContainer{
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    text-shadow: 2px 3px 5px rgba(59, 59, 59, 0.678);
}
@media only screen and (min-width: 1300px) {
    .MainNavbarTitle{
        font-size: 30px;
    }
    .MainLogoContainer{
        top: 0px;
        width:auto;
        padding: 7px;
        justify-content: flex-start;
    }
}
