.Container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Section{
    position: relative;
    width: 95%;
    max-width: 1200px;
    margin: 40px 0 40px 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.TitleContainer{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color2);
}
.Title{
    font-size: 30px;
    font-weight: 500;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.ImgContainer{
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--backgroundDark);
}
.Img{
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.ConsultButton{
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    background-color: var(--color1);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
}
.ConsultButton:hover{
    background-color: var(--color1Dark);
    color: var(--fontColor1);
}
@media only screen and (min-width: 800px) {
    .ImgContainer{
        width: 50%;
    }
    .TitleContainer{
        width: 50%;
    
    }
    .Section{
      display: flex;
      background-color: rgba(0, 0, 0, 0.5);
    }
    
}