.PageContainer{
    background-color: blue ;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.Container{
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    background-color: aqua;
}
.Img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    object-fit: cover;
}